<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726515740495-0msgehqionch9l7mprfur95j5e3onnga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726515740495-0msgehqionch9l7mprfur95j5e3onnga</string>
	<key>API_KEY</key>
	<string>AIzaSyAIZ-kytH8HbbCr1cA9OmpIo_-aZSpZMU4</string>
	<key>GCM_SENDER_ID</key>
	<string>726515740495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rothermel1.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-b653d</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-b653d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726515740495:ios:688bd54014105c96619f3a</string>
</dict>
</plist>